### RENDER ###

# Get this key from your render account
# User menu (top right) --> account settings --> API Keys --> Create API Key
RENDER_API_KEY="rnd_SAMPLE_KEY_123"

# Navigate to your render workspace details page
# Workspace selector (top left) --> workspace settings
# and copy the workspace ID from the URL
# It should look like this https://dashboard.render.com/w/YOUR-WORKSPACE-ID/settings
RENDER_WORKSPACE_ID="zap_SAMPLE_WORKSPACE_ID_123"

# This is the key name for the environment variable that contains the internal DB url
RENDER_DATABASE_URL_KEY="YOUR_DB_URL_KEY"

# LEAVE RENDER_SERVICE_IDS COMMENTED OUT IF YOU WANT TO DEFAULT TO UPDATING THE INTERNAL DB URL FOR ALL WEB SERVICES
# If you want to only update the internal DB url for specific web services, list the service ids below
# Service ids must be separated by a ", " as shown below
# The web service ids can be found by navigating to the service's detail page and pull the id from the URL
# For example: https://dashboard.render.com/web/YOUR-SERVICE-ID
RENDER_SERVICE_IDS="srv_SAMPLE_SERVICE_ID, srv_SAMPLE_SERVICE_ID"


### POSTGRES INSTANCE ###

# This will be the name of the instance you will be fetching
# and then recreating using the same name
POSTGRES_INSTANCE_NAME="Sample_Instance_Name"

# Specify the version of PostgreSQL you want to use
POSTGRES_VERSION="16"